@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
body {
    margin: 0;
    background: white;
    font-family: 'Montserrat', sans-serif;
}

p, blockquote {
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top:2.5em;
}

.topnav {
    text-align: center;
    padding: .8em;
}

.logo {
    max-height: 100px;
    padding-left: 4em;
}

header {
    display: flex;
    justify-content: space-between;
}

.hide-desktop {
    display: none;
}

.show-desktop {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .hide-mobile {
        display: none;
    }
}

li {
    padding-right: 4em;
}

.photoscape {
    position: relative;
    text-align: center;
}

#bgphoto {
    height: 40em;
    width: 118.9em;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 60%;
}

#tipsyPhotography {
    z-index: 100;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon {
    max-height: 50px;
}

.container {
    text-align: center;
}

#me {
    max-height: 150px;
    border-radius:50%
}